.container {
  text-align: center;
}

h1,
button {
  margin-top: 10px;
}

label {
  width: 100%;
  text-align: left;
  margin-top: 10px;
}
.form-check-inline {
  margin: auto;
}
#min,
#max {
  margin: 0 10px 0 10px;
}

.list-group-item:hover {
  background-color: #a8abaf;
}

.form-group {
  max-width: 450px;
  margin: auto;
}

.item-info {
  font-size: 28px;
}
.price-info {
  margin: 0;
  /* font-size: 28px; */
}

span {
  width: 64px;
}
